/**
 * partials/footer
 * ---
 */

.footer {
	position: relative;
	width: 100%;
	//height: $footerHeight;
	background-color: $black;
	padding-top: $gutterLarge;
	overflow: hidden;
	color: $grey;
	font-size: 1.6rem;

	.container{
		@include align-items(flex-start);
		padding-left: $gutter;
		padding-right: $gutter;
	}
	
	a{
		color: $grey;
		@include transition(color .3s ease);

		&:hover{
			color: $hover;
		}
	}

	.logo{
		@include background-image('logo-footer');
	}

	.detail{
		width: span(3);
	}

	.vcard{
		width: span(3);
	}

	.footer-menu{
		width: span(2);
	}

	.horaire{
		width: span(3);
	}

	.social-menu{
		width: span(1);
		@include flexbox();
		@include flex-wrap(wrap);

		a{
			display: inline-block;
			width: span(1);
			text-transform: uppercase;
			text-align: center;
			margin-right: $gap;
		}

		li:last-child a{
			margin-right: 0;
		}
	}

	.copyright{
		font-size: 0.9rem;
    opacity: 0.30;
	}
}