// media querie
// 

// media querie
// 
$screen: "only screen";
$break-extra-small: 440px;
$break-small: 675px;
$break-medium: 950px;
$break-large: 1170px;
// $break-extra-large: 930rem;

$extra-small-down: "#{$screen} and (max-width: #{$break-extra-small})";
$small-down: "#{$screen} and (max-width: #{$break-small})";
$medium-down: "#{$screen} and (max-width: #{$break-medium})";
$medium-up: "#{$screen} and (min-width: #{$break-medium})";
$large-down: "#{$screen} and (max-width: #{$break-large})";
// $large-up: "#{$screen} and (min-width: #{$break-large})";
// $extra-large-down: "#{$screen} and (max-width: #{$break-extra-large})";

.show-for-medium, .show-for-small, .show-on-mobile{
	display: none;
}

// en dessous de 1170
@media #{$large-down}{

	.logo{
		margin-right: $gutter;	
	}

	.header-menu{
		font-size: 1.6rem;

		li a{
			padding: 8px 10px 5px 10px
		}
	}	

	.top-bar{
		.vcard{
			margin-right: $gutter;
			min-width: auto;
		}

		.account, .panier{
			width: 55px;
			overflow: hidden;
			a{
				color: transparent;
				&:before{ color: white; }
			}
			&.current-menu-item a{
				color: transparent;
				&:before{ color: $black; }
			}
		}

		.social-menu{
			a{
				width: auto;
			}
		}
	}

	.footer{
		.detail{
			width: span(2);
		}

		.vcard{
			width: span(3);
		}

		.footer-menu{
			width: span(1);
		}

		.horaire{
			width: span(3);
		}

		.social-menu{
			width: span(2);
		}
	}

	.page-id-52 .details, .page-id-54 .details{
		padding-left: 0;
	}

	.row{
		> *{
			@include flex-shrink(initial);
		}
	}
}

// en dessous de 950
@media #{$medium-down}{

	.show-on-mobile{
		display: initial;
	}

	body.active{
		overflow-y: hidden;
	}

	.header{

		>	.container{
			@include align-items(center);
			@include flex-wrap(wrap);
			> *{
				z-index: 5;
			}
		}

		.logo{
			@include flex(1);
			max-height: 80px;
			background-position: center;
			overflow: hidden;
			position: relative;
		}

		nav{
			padding-left: $gutter;
			padding-right: $gutter;
			margin-right: 0;

			li{
				width: 60px;
				text-align: center;
				font-size: 3.7rem;
			}

			&.show-on-mobile{
				display: initial;
				@include flex(0);
				position: relative;
			}

			&.switch{

				.close{
					display: none;
				}

				.active{
					.close{
						display: initial;
					}
					.open{
						display: none;
					}
				}

				i.maricon-search{
					font-size: 0.8em;
				}
			}

			a:after{
				display: none;
			}

			&.nav{
				@include flex(0 0 100%);
				@include order(2);
				height: 0vh;
				overflow-y: hidden;
		    background-color: white;
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    z-index: 1 !important;
		    opacity: 0;
		    @include transition(height .3s, opacity .3s);

		    .sub-menu{
		    	display: none !important;
		    }

		    .header-menu{
			    padding-top: 90px;
		    	flex-direction: column;
		    	align-items: center;
		    	text-align: center;
		    	justify-content: center;
		    	height: 100%;

		    	li{
		    		width: auto;
		    		@include order(2);

		    		&.search{
		    			display: none;
		    		}
		    	}

		    }
			}
		}

		&.active{

			nav.nav{
		    height: 100vh;
		    opacity: 1;
			}
		}
	}

	.footer{
		height: auto;

		.container{
			@include flex-wrap(wrap);

			> *{
				width: 50%;
				margin-right: 0;
				@include flexbox();
				@include justify-content(center);
			}
		}
		.detail{
			@include order(1);
		}
		.social{
			@include order(2);
			padding-top: $gutterLarge;
		}
		.vcard{
			@include order(3);
		}
		.horaire{
			@include order(4);
		}
		.quick-menu{
			display: none;
		}
	}

	.top-bar{
		display: none;
	}

	.slideshow{
		height: 600px;

		.slide{
			@include flex-direction(column);
			
			> *{
				width: 100%;
			}
			
			.content{
				> *{
					margin: $gutter;
				}

				p{
					padding: 20px;
					font-size: 2rem;
				}
			}
		}

	}

	/* home page */
	.nouveautes + .row, .immanquables + .row{
		@include flex-wrap(wrap);
		> *{
			width: 100%;
			margin-right: 0;
			margin-bottom: $gutter;
		}
	}

	.coup-de-coeur, .recent-posts{
		width: 100%;
		margin-right: 0;
	}

	.immanquables{
		.container{
			@include flex-direction(column);
		}

		.woocommerce{
			width: 100%;
			padding: 0 $gutter;
		}

		header{
			width: 100%;
			h2, p{
				display: none;
			}
		}
	}

	/* actus */

	section.articles{

		article.first-actu a{
			@include flex-wrap(wrap);
			height: auto;

			.thumbnail, .content{
				width: 100%;
			}
		}
	}

	/* page simple */
	.informations{
		padding-top: $gutterLarge;
		@include flex-wrap(wrap);

		.map, .gallery{
			margin-right: 0;
			width: 100%;
			height: 300px;
		}

		.details{
			margin-top: $gutterLarge;
			img{
				display: none;
			}
			dl{
				margin:0;
				dt{
					margin-top: 0;
				}
			}
		}
	} 

	/* compte */
	.woocommerce-account .woocommerce{
		@include flex-wrap(wrap);
		.woocommerce-MyAccount-navigation{
			width: 100%;
			text-align: center;
			margin-right: 0;
		}
	}

	/* products list */

	.prdctfltr_wc{
		width: span(2);
		margin-right: $gutter;
	}
}

// en dessous de 675
@media #{$small-down}{

	.header{
		nav{
			li{
				font-size: 3rem;
			}
		}
	}

	/* product list */

	.prdctfltr-shop{
		main > .container{
			@include flex-wrap(wrap);
			ul.products{
				width: 100%;
			}
		}

		.prdctfltr_woocommerce.pf_default{
			> .prdctfltr_filter_title span, .prdctfltr_filter_title a{
				display: initial;
				color: $featured;
			}

			&.active > .prdctfltr_filter_title a{
				i:before{
					content:'g';
				}
			}
		}	
	}

	.prdctfltr_wc{
		width: 100%;
		&:not(.active) form.prdctfltr_woocommerce_ordering{
			display: none !important;
		}
		.prdctfltr_filter_title{
			cursor: pointer;
		}
	}

	/* product page */

	.woocommerce .single-product div.product{
		@include flex-wrap(wrap);
		div.images{
			margin-bottom: $gutterLarge;
			width: 100%;
			padding-right: 0;

			.woocommerce-product-gallery__wrapper:first-child{
				width: 100%;
				margin-bottom: 0;
			}
		}

		.entry-summary{
			width: 100%;
		}

		.slider-nav{
			display: none;
		}
	}
}

// en dessous de 440
@media #{$extra-small-down}{
	.header nav{
		padding: 0;
		li {
			width: 40px;
  	}
  	a{
	    padding: 5px 7px 2px 7px;
  	}
  }

	.footer{
		.vcard,.horaire{
			font-size: 1.4rem;
		}
	}
}
