/**
 * partials/pages
 * ---
 */


/* home */

.nouveautes{

	.slider{
		height: $sliderHeight;
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	
	.woocommerce{
		height: 100%;
		width: 100%;
		
		.products{
			height: 100%;
			width: 100%;

			li.product{
				height: 100%;
				margin: 0;
				width: span(2 wide);
				clear: none;
				padding: 0 $gap/2;

				a{
					@include flexbox();
					@include justify-content(center);
					@include flex-direction(column);
					height: 100%;
				}
			}
		}
	}
}

.coup-de-coeur{
	width: 50%;
	position: relative;

	&:before{
		content: 'e';
		font-family: $font-icon;
		height: 80px;
		width: 80px;
		background-color: white;
		color: $featured;
		position: absolute;
    border-radius: 80px;
    text-align: center;
    font-size: 5.5rem;
    padding-top: 5px;
    left: 20px;
    top: 20px;
	}
}

.recent-posts{
	width: 50%;

	a{
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		border: 2px $featured solid;
		padding: $gutter span(1);
		display: inline-block;
		color: $featured;

		h3{
			text-align: center;
		}

		.thumbnail{
			width: 100%;
			height: 200px;

			img{
				@include object-fit(cover);
			}
		}

		.content{
			padding: $gutter;
		}

		.button{
			background-color: $featured;
		}

		&:hover{
			border-color: $hover;
			.button{
				background-color: $hover;
			}
		}
	}
}

.immanquables{
	background-color: $featured;
	color: $lightGrey;
	padding-top: $gap;
	padding-bottom: $gap;
	margin-bottom: 40px;

	> .row{
		@include align-items(center);
	}

	header{
		width: span(3);
		text-align: center;
		@include flexbox-column();
		@include justify-content(center);
	}

	.woocommerce{
		width: span(9);

		ul.products{
			@include flexbox();
		}
	}
}

.category-products{
	width: 50%;
	border: thin $lightGrey solid;
	padding: $gutter $gap;
	position: relative;

	h2{
		margin-top: 0;
		text-align: center;
		color: $lightGrey;
	}

	h3{
		margin-bottom: 5px;
	}

	.product{
		h2,h3,.price{
			display: none !important;
		}
	}

	> a{
		position: absolute;
    right: 30px;
    bottom: 47px;
		width: 160px;
		height: 160px;
		@include flexbox();
		@include align-items(center);
	}
}