/* woocommerce */

.woocommerce{
	// height: 100%;
	
	/* single product page */
	.single-product{

		div.product{

			@include flexbox();

			button.button{
				@include border-radius($gap);
			}

			form.cart{
				@include flexbox();
				.quantity input{
					height: 100%;
				}
			}

			p.price, span.price{
				color: $dark;
				font-size: 2.6rem;
			}

			div.images{
				padding-right: $gap/2;
				margin-bottom: 0;
				width: 50%;
				float: none;

				.woocommerce-product-gallery__wrapper{
					margin: 0;
					margin-top: $gutter;

					&:first-child{
						height: auto;
						width: 570px;
						display: block;
						overflow: hidden;
						position: relative;
						max-width: 100%;
					}
				}
			}

			.entry-summary{
				@include flexbox();
				@include flex-direction(column);
				padding-left: $gap/2;
				width: 50%;
				float: none;
				margin-bottom: 0;

				.ssba-wrap{
					@include order(10);
					margin-top: 1em;
					font-weight: normal;
					text-transform: uppercase;
				}

				h2{
					display: none;
				}

				> p{
					margin-top: 0;
				}
			}
		}

		.product_title{
			font-family: $font-family-title;
			color: darken($lightGrey, 10%);
			text-align: left;
		}

		.shop_attributes{
			width: 100%;
			overflow: hidden;
			margin-bottom: 0;
			margin-top: 1em;

			p{
				margin-bottom: 0;
			}

			dt, dd{
				float: left;
				margin-bottom: $gutter;
			}
			dt{
				clear: both;
			}

			dd{
				margin-left: 0;
			}
		}

		.product_meta{
			span{
				display: block;
				margin-bottom: $gutter;
			}
		}
	}

	/* list of product */
	ul.products{
		text-align: center;
		height: 100%;
		
		// &:after{
		// 	clear: unset;
	 //    float: left;
	 //    margin: 0 3.8% 2.992em 0;
	 //    padding: 0;
	 //    position: relative;
	 //    width: 30.75%;
	 //    margin-left: 0;
	 //    display: list-item;
	 //    margin-right: 0;
	 //    @include icon('b');
	 //    background-color: #5a3682;
	 //    border-radius: 50px;
	 //  }

		li.product{
			text-align: center;

			.onsale{
				display: none;
			}

			h3{
				font-size: 1.2rem;
			}

			h2{
				font-size: 1.9rem;
			}

			.price{
				font-size: 2.2rem;
				color: $darkGrey;
				padding-top: $gutter;	

				del, ins{
					display: inline;
				}
				ins{
					text-decoration: none;
				}
			}

			a{
				outline: none;

				img{
					margin:0;
				}

				.thumbnail{
					margin-bottom: $gutter;
					position: relative;
					max-width: 300px;
					align-self: center;

					&:after{
						background-color: rgba($hover, 0.6);
						opacity: 0;
						width: 80%;
						height: 80%;
						opacity: 0;
						content: 'f';
						font-family: $font-icon;
						font-size: 12rem;
						color: white;
						position: absolute;
						top: 10%;
						left: 10%;
						border-radius: 100%;
						@include transition(opacity .3s ease);
						@include flexbox();
						@include align-items(center);
						@include justify-content(center);

						@at-root .immanquables &{
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
						}
					}
				}

				&:hover{
					.thumbnail{
						&:after{
							opacity: 1;
						}
					}
				}
			}

			@at-root .coup-de-coeur &{
				width: auto;
				display: inline-block;
				float: none;
				margin: 0;
				width: 100%;
				height: 100%;

				a{
					position: relative;
					background-color: $lightGrey;
					color: $featured;
					padding: $gutter;
					display: block;
					width: 100%;
					height: 100%;
					@include flexbox-column();
					@include align-items(center);
					padding-top: 24px;
					// @include justify-content(center);

					.title{
						font-size: 2rem;
						color: $featured;
						margin-bottom: 20px;
					}

					&:hover{
						background-color: $hover;
						.thumbnail:after{
							display: none;
						}
					}

					.thumbnail{
						width: span(3);
					}

					&:before{
						content: 'e';
						font-family: $font-icon;
						height: 80px;
						width: 80px;
						background-color: white;
						color: $featured;
						position: absolute;
				    border-radius: 80px;
				    text-align: center;
				    font-size: 5.5rem;
				    padding-top: 5px;
				    left: 20px;
				    top: 20px;
					}
				}

				img{
					@include border-radius(100%);
				}
			}

			@at-root .immanquables &{
				width: span(3);
				display: inline-block;
				float: none;
				margin: 0;
				margin-right: $gap;
				padding: $gutterMedium;
				a{
					color: $lightGrey;
				}

				&:last-child{
					margin-right: 0;
				}

				img{
					@include border-radius(100%);
				}
			}

			@at-root .category-products &{
				margin-bottom: 0;
			}
		}
	}

	div.products{
		width: 100%;
	}

	/* breadcrumb */
	.woocommerce-breadcrumb{
		@extend %container;
		margin-bottom: $gutterLarge;
		padding-top: $gutterLarge;
		font-style: italic;
		font-weight: 100;

		&, a{
			color: $grey;
		}
	}

	/* social share */
	.social-product-share{
		margin-top: $gap;
	}
	
	/* add-to-cart hide */
	span.onsale{
		 display: none;
		// background-color: $hover;
	}

	.cart{
		// display: none;
	}

	nav.woocommerce-pagination{
		text-align: right;

		ul{
			border: none;
			
			li{
				border: none !important;
				background: none !important;
				a:hover, span.current{
					color: $hover;
					background: transparent;
				}
			}
		}

	}
}

/* pagination */

.woocommerce-account {
	.woocommerce{
		@include flexbox();


		.woocommerce-MyAccount-content{
			@include flex(1);
			padding: $gap $gutter;
			border-top: thin solid $grey;

			a{
				color: $featured;
				text-decoration: underline;
				&:hover{
					color: $hover;	
				}
			}
		}	

		.woocommerce-MyAccount-navigation{
			background-color: $lighterGrey;
			width: span(3);
			margin-right: $gap;

			li{
				padding: 0 $gutterLarge;
				&.is-active{
					padding: 0;

					a{
						border: solid thin $featured;
						border-left-width: $gutter;
						background-color: white;
						padding-left: $gap;
					}
				}
			}
				
			a{
				display: block;
				width: 100%;
				padding: $gutter $gutterLarge;
				color: $featured;
				border-bottom: thin solid $grey;
			
			}
		}

		table.shop_table{
			border-radius: 0;
			border: none;

			thead{
				text-transform: uppercase;
				color: $featured;
			}

			a{
				text-decoration: none;
				color: darken($hover, 10%);
				background-color: transparent;
			}
		}

		.addresses .title{
			h3{
				margin-bottom: 0;
				& + .edit{
					float: left;
					clear: both;
					margin-bottom: $gutter;
				}
			}
		}

		form{
			input[type="text"], input.input-text {
				padding: 4px 8px;
			}

			.required{
				text-decoration: none;
			}

			fieldset{
				border: none;
				padding: 0;
				margin-top: $gap;

				& > legend{
					text-transform: uppercase;
					color: $featured;
				}
			}

			input.button{
				border-radius: 50px;
				background-color: $featured;
				color:white;
				&:hover{
					background-color: $hover;
				}
			}
		}

	}

	main{
		@include flexbox();
		> section{
			@include flex(1);
			@include flexbox-column();

			> article{
				@include flex(1);
			}
		}
	}
	
	.ssba-wrap{
		display: none;
	}
}

.woocommerce-customer-logout{
	.woocommerce-message{
		border-top: thin $grey solid;
		background-color: transparent;
		@include order(2);
		@include flex(1);
		padding: $gap 0 0;
		&:before{
			display: none;
		}
		a{
			color: $hover;
		}
	}
	.woocommerce-MyAccount-content{
		display: none;
	}
}

.woocommerce-products-header{
		font-family: $font-family-title;
		padding: $gap 0 !important;
		.sub-categories{
			font-family: $font-family-base;
			@include reset-box-ul();
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			@include flex-wrap(wrap);

			li:not(:last-child):after{
				content: "-";
				padding: 0	8px;
			}
		}
}

.prdctfltr_wc{
	width: span(3);
	overflow-x: hidden;
}

// .prdctfltr-shop{
// 	main{
// 		@include flexbox();
// 		@include flex-wrap(wrap);
// 	}
// }
// 
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: $featured;
}

/* shame */

.prdctfltr-shop .woocommerce-info{
	border: none;
	background: none;
	text-align: center;
	&:before{
		display: none;
	}
}

.prdctfltr-shop .prdctfltr_woocommerce.pf_default form.prdctfltr_woocommerce_ordering{
	width: 100%;
	margin: 0 !important;

	.prdctfltr_filter_inner{
		width: 100%!important;
	}
}

.prdctfltr_wc.prdctfltr_wc_regular.prdctfltr_woocommerce.pf_default .prdctfltr_woocommerce_ordering div.prdctfltr_filter{
	width: auto !important;
	padding: 0 10px!important;
}