/**
 * modules/fonts
 * ---
 * Declare fonts here
 */


/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/

@include font-face-bb('Chivo', '../fonts/chivo-regular-webfont', normal);
@include font-face-bb('Chivo', '../fonts/chivo-italic-webfont', normal, italic);
@include font-face-bb('Chivo', '../fonts/chivo-lightitalic-webfont', 100, italic);
@include font-face-bb('Merriweather', '../fonts/merriweather-black-webfont', normal);
@include font-face-bb('Merriweather', '../fonts/merriweather-blackitalic-webfont', normal, italic);

// @include font-face-bb('Robotoo', '../fonts/RobotoCondensed-Regular-webfont', normal);
// @include font-face-bb('Robotoo', '../fonts/RobotoCondensed-Italic-webfont', normal, italic);
// @include font-face-bb('Robotoo', '../fonts/RobotoCondensed-Bold-webfont', bold);
// @include font-face-bb('Robotoo', '../fonts/RobotoCondensed-BoldItalic-webfont', bold, italic);
