/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Chivo", Helvetica, Arial, sans-serif;
$font-family-title: "Merriweather", Helvetica, Arial, sans-serif;
$font-icon: "margaux-font", "FontAwesome";
$font-size-base: 1.8em;
$line-height-base: 1.4;

/**
 * Colors
 */

$text-color: #2b2b2b;
$body-bg: #fff;
$selection-bg: #04A4CC;
$hover: #4ee8b4;

$featured: #5a3682;
$grey: #dbdbdb;
$lightGrey: #e5e1d6; /*ok*/
$lighterGrey: #f0f0f0; /*ok*/
$darkGrey: #aca895; /*ok*/
$dark: #313131;
$black: #1a1a1a;

/**
 * Grid
 */

$headerHeight: 90px;
$footerHeight: 180px;
$headroomHeight: 70px;
$topbarHeight: 40px;
$wrapper-width: 1170px;
$halfWidth: $wrapper-width /2;
$slideshowHeight: 475px;
$sliderHeight: 400px;
$mapHeight: 720px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 0;
$margin-vertical-large: 15px;

// default settings

$gap: 30px;
$horizontalGap: 30px;

$gutter: 10px;
$gutterMedium: $gutter * 1.5;
$gutterLarge: $gutter * 2;