/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Chivo", Helvetica, Arial, sans-serif;
$font-family-title: "Merriweather", Helvetica, Arial, sans-serif;
$font-size-base: 1.8em;
$line-height-base: 1.4;

/**
 * Colors
 */

$text-color: #2b2b2b;
$body-bg: #fff;
$selection-bg: #04A4CC;

$featured: #5a3682;
$grey: #959595;
$lightGrey: #e5e1d6;
$darkGrey: #aca895;
$dark: #313131;

/**
 * Grid
 */

$headerHeight: 90px;
$headroomHeight: 70px;
$wrapper-width: 1170px;
$halfWidth: $wrapper-width /2;
$slideshowHeight: 475px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 0;
$margin-vertical-large: 15px;

// default settings

$gap: 30px;
$horizontalGap: 30px;

$gutter: 10px;
$gutterMedium: $gutter * 1.5;
$gutterLarge: $gutter * 2;