/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: Helvetica, Arial, sans-serif;
$font-family-title: Helvetica, Arial, sans-serif;
$font-size-base: 1.8em;
$line-height-base: 1.4;


/**
 * Colors
 */

$text-color: black;
$body-bg: #fff;
$selection-bg: #04A4CC;

$grey: #9f9f9f;
$greyExtra: #7d7d7d;
$lightGrey: #f2f1e9;
$lighterGrey: #f9f9f9;
$dark: #313131;

/**
 * Grid
 */

$headerHeight: 115px;
$headroomHeight: 70px;
$wrapper-width: 1170px;
$halfWidth: $wrapper-width /2;
$headerBackgroundHeight: 370px;
$homeHeight: 800px;
$bookingHeight: 80px;
$slideshowHeight: 550px;
$mapHeight: 500px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 0;
$margin-vertical-large: 15px;

// default settings

$gap: 30px;
$horizontalGap: 30px;

$gutter: 10px;
$gutterMedium: $gutter * 1.5;
$gutterLarge: $gutter * 2;